body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.team-section {
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0;
}

h1 {
  color: #fff;
  margin: 30px 0;
  padding: 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-member {
  background-color: #ffffffa9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 200px;
  text-align: center;
  position: relative;
  transition: transform 0.4s, box-shadow 0.4s;
  top: -20px;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.team-member img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  transition: transform 0.4s;
  margin-bottom: 20px;
}

.team-member:hover img {
  transform: scale(1.4);
}

.team-member h3 {
  color: #333;
  margin: 8px 0 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-member p {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.team-member a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #123D6A;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.team-member a:hover {
  background-color: #0c2846;
}

.team-intro {
  background-color: #36363696;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.team-intro h1 {
  color: #ffffff;
  margin: 20px auto;
  overflow: hidden;
  width: 800px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.team-intro p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
  row-gap: 5px;
  line-height: 1.5;
  justify-content: center;
  width: 800px;
}

.popup-info {
  display: none;
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  z-index: 100;
  text-align: center;
}

.popup-info p {
  color: #333;
  font-size: 14px;
  margin: 10px 0 5px;
  padding-top: 1px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.team-member a:hover + .popup-info {
  display: block;
}
